*:focus {
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* theme customization - start */
.sidebar {
  width: 200px;
}

.content {
  left: 200px;
}

section.cover .cover-main > p:last-child a:last-child:hover {
  color: #fff;
}

.sidebar > h1 {
  font-weight: bold;
  color: var(--theme-color, #42b983);
}

.sidebar ul li a {
  font-size: 16px;
  padding: 5px 0;
}

.sidebar ul li a:hover {
  text-decoration: none;
  color: var(--theme-color, #42b983);
}

section.cover {
  background: linear-gradient(to left bottom, hsl(71, 100%, 85%) 0%, hsl(252, 100%, 85%) 100%) !important;
}

.markdown-section td,
.markdown-section th {
  padding: 10px 15px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .sidebar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    left: 20px;
    bottom: 20px;
    padding: 0;
    background-color: var(--theme-color, #42b983);
    border-radius: 50%;
  }

  .sidebar-toggle span {
    background-color: #fff;
  }

  .sidebar-toggle span:last-child {
    margin-bottom: 0;
  }

  body.close .sidebar-toggle {
    display: none;
  }

  .markdown-section {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 576px) {
  .markdown-section {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* theme customization - end */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: 1px solid var(--theme-color, #42b983);
  box-sizing: border-box;
  color: var(--theme-color, #42b983);
  display: inline-flex;
  font-size: 14px;
  letter-spacing: 0.1rem;
  margin: 0.5rem 1rem;
  padding: 0.5em 1rem;
  text-decoration: none;
  transition: all 0.15s ease;
  background-color: var(--theme-color, #42b983);
  color: #fff;
  cursor: pointer;
}

.get-started-example {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 30px auto 0;
  flex-wrap: wrap;
}

.get-started-example .vscomp-ele {
  margin-bottom: 20px;
}

.vscomp-option-text .flag {
  margin-right: 12px;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.vscomp-wrapper.text-direction-rtl .vscomp-option-text .flag {
  margin-right: 0;
  margin-left: 12px;
}

#show-value-as-tags-select {
  max-width: 400px;
}

#validation-select {
  margin-bottom: 20px;
}
