*:focus {
  outline: none;
}

body {
  font-family: 'Roboto';
  font-size: 16px;
}

/* theme customization - start */
.sidebar {
  width: 200px;
}

.content {
  left: 200px;
}

section.cover .cover-main>p:last-child a:last-child:hover {
  color: #fff;
}

.sidebar > h1 {
  font-weight: bold;
  color: var(--theme-color, #42b983);
}

.sidebar ul li a {
  font-size: 16px;
  padding: 5px 0;
}

.sidebar ul li a:hover {
  text-decoration: none;
  color: var(--theme-color, #42b983);
}

section.cover {
  background: linear-gradient(to left bottom, hsl(71, 100%, 85%) 0%,hsl(252, 100%, 85%) 100%) !important;
}

.markdown-section td, .markdown-section th {
  padding: 10px 15px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .sidebar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    left: 20px;
    bottom: 20px;
    padding: 0;
    background-color: var(--theme-color, #42b983);
    border-radius: 50%;
  }

  .sidebar-toggle span {
    background-color: #fff;
  }

  .sidebar-toggle span:last-child {
    margin-bottom: 0;
  }

  body.close .sidebar-toggle {
    display: none;
  }

  .markdown-section {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 576px) {
  .markdown-section {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* theme customization - end */

.get-started-example {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 30px auto 0;
  flex-wrap: wrap;
}

.get-started-example .vscomp-ele {
  margin-bottom: 20px;
}
