$primaryColor: #512DA8;
$primaryBg: #fff;
$fontColor: #333;
$borderColor: #ddd;
$focusColor: #ccc;
$selectedColor: #eee;
$arrowColor: #111;
$checkboxColor: #888;

$fontSize: 14px;
$arrowSize: 6px;
$dropboxHeight: 250px;
$dropboxMargin: 4px;
$searchHeight: 40px;
$checkboxFullWidth: 25px;
$searchClearWidth: 30px;
$optionHeight: 40px;
$arrowWidth: 30px;
$clearButtonWidth: 24px;
$transitionDuration: 250ms;
$transitionDistance: 30px;