$primaryColor: #512da8;
$primaryBg: #fff;
$fontColor: #333;
$fontColorLight: #666;
$errorColor: #b00020;
$borderColor: #ddd;
$focusColor: #ccc;
$selectedColor: #eee;
$arrowColor: #111;
$checkboxColor: #888;
$iconHoverColor: #333;
$overlayBg: rgba(0, 0, 0, 0.5);

$fontFamily: sans-serif;
$fontSize: 14px;
$fontSizeSmall: 13px;
$dropboxHeight: 250px;
$searchHeight: 40px;
$checkboxFullWidth: 25px;
$newOptionIconWidth: 30px;
$searchClearWidth: 30px;
$valueTagClearWidth: 20px;
$optionHeight: 40px;
$arrowWidth: 30px;
$arrowSize: 8px;
$clearButtonWidth: 24px;
$clearIconSize: 12px;
$dropboxCloseButtonWidth: 40px;
$dropboxCloseButtonOffset: 8px;
$transitionDistance: 30px;
$optionsLoaderSize: 40px;
$optionCheckboxMargin: 10px;

$zIndex: 1;

$boxShadow1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
